.header {
    height: 60px;

    background-color: #131921;

    display: flex;
    align-items: center;
    
    position: sticky;
    top: 0;

    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;

    margin: 18px 20px 0;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    width: 100%;
    padding: 10px;
    border: none;
    
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    color: white;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 700;
}

.header__optionBasket {
    margin-top: 3px;
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin: 0 10px;
}